version: '3'
services:
  eosio:
    build: ./contract
    image: eosio
    container_name: eosio
    command: nodeos -e -p eosio --plugin eosio::producer_plugin --plugin eosio::history_plugin --plugin eosio::chain_api_plugin --plugin eosio::history_api_plugin --plugin eosio::http_plugin -d /mnt/dev/data --config-dir /mnt/dev/config --http-server-address=0.0.0.0:8888 --access-control-allow-origin=* --contracts-console --http-validate-host=false --hard-replay-blockchain 
    volumes:
      - ./contract/build:/work
      - ./contract/build/eosio/data:/mnt/dev/data
      - ./contract/build/eosio/config:/mnt/dev/config eosio/eos-dev
      - /data/db
    working_dir: /mnt/dev/data
    ports:
      - "8888:8888"
      - "9876:9876"
    networks:
      - dev

  server:
    build: ./server
    image: server
    container_name: server
    volumes:
      - ./server:/usr/src/app
    working_dir: /usr/src/app
    ports:
      - "5555:5555"
    networks:
      - dev

  app:
    build: ./app
    image: app
    container_name: app
    volumes:
      - ./app:/usr/src/app
    working_dir: /usr/src/app
    ports:
      - "9000:9000"
    networks:
      - dev

  database:
    image: postgres:11
    container_name: database
    ports:
      - "5432:5432"
    networks:
      - dev

networks:
  dev:
    driver: bridge